*{
    font-family: 'Rubik', sans-serif;
}

.card Button{
 background-color: blueviolet;
 border-color: blueviolet;
}

.card Button:hover{
    background-color: darkorchid;
    border-color: blueviolet;
}

.botonText{
    color: white;
    text-decoration: none;
}
