.navbar{
    width: 100%;
    height: 20vh;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
}

.container{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 30px;
}

.container p{
    margin: 10px;
}